<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	
	<!-- Dynamic styles created by less -->
	<link type="text/css" rel="stylesheet" href="/css/dynamic/common.css" />

  </head>
  <body>
	{{{body}}}

		
	<div class="footer">
		AtTask Kanban 
		&COPY; 2012 <a href="http://Qazzian.co.uk">Qazzian.co.uk</a>
		License <a href="http://www.opensource.org/licenses/mit-license.php">MIT</a>
		<p id="testResult"></p>
	</div>
  </body>
</html>
