<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

	<link type="text/css" rel="stylesheet" href="/css/style.css" />
	
	<!-- Dynamic styles created by less -->
	<link type="text/css" rel="stylesheet" href="/css/common.css" />

  </head>
  <body>
		{{{body}}}
  </body>
</html>
